<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form enctype="multipart/form-data"  action="" method="post" novalidate>
    {% csrf_token %}
    {{ csrf_input }}

        title : <tr></tr><input type="text" id="" name="title" ><br><br>
        description : <input type="textField" id="description" name="description" ><br><br>
        tags : <input type="text" id="tags" name="tags" ><br><br>
        <input type="file" name="image" required id="id_image"><br><br>
        <select id="level" class="form-control col-sm-10" name="level"  style="margin-left: 12px; margin-bottom: 4px;" id="sel1">
            <option id="University" >University Level</option>
            <option id="College">College Level</option>
            <option id="Department" >Department Level</option>
        </select>
        <select class="form-control col-sm-10" name="college_name" style="margin-left: 12px; margin-bottom: 4px;" id="sel1">
            {% for i in cats %}
                <option>{{ i.name }}</option>
            {% endfor %}
        </select><br><br>
        <button type="submit" id="button" name="but" value="">submit or post now</button>
</form>


<h1>In post html</h1>
<script type="text/javascript">

        document.getElementById("{{ level }}").selected = true;
        console.log("i am trying to select");
        console.log("{{ level }} Level");
        console.log(document.getElementById("level").value);

        $(document).ready(function(){
            
        })
    </script>
</body>
</html>