<!doctype html>
<html lang="en">

	{% load static %}

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes" user-scalable="no" maximum-scale="1.0">
	<title>Registration_Portal</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<style type="text/css">
	body,
	html {
		width: 100%;
		height: 100%;
		background-image: linear-gradient(to bottom, #ffec6f, #ffd552, #ffbd36, #ffa41d, #ff8903);
	}

	img {
		position: absolute;
		margin-top: 14%;
		margin-left: 10%;
	}



	.card {

		/*position: relative;*/
		float: right;
		margin-right: 7%;
		margin-top: 7%;
		border-radius: 60px;

	}

	.card-title {

		text-align: center;
		color: #2B2B2B;
		margin-top: 2%;
	}

	.card-text {

		text-align: center;
		color: #707070;
	}

	.btn.register {

		background-color: #FA9C2C;
		color: #fff;
		height: 50px;
		width: 250px;
		font-size: 20px;
		border-radius: 25px;
		margin-top: 6%;
	}

	</style>

</head>

<body>
	<img src="{% static 'users_student/image/complaint.png' %}" width="700" height="500">
	<div class="card" style="width: 40rem; height: 50rem;">
		<div class="card-body">
			<h2 class="card-title">Register to join grievances body</h2>
			<p class="card-text">It's quick and easy</p>
			<hr>

			<form id="form" class="form-vertical" action="/users_admin/register_admin/" method="post">
			{% csrf_token %}
				<div id = "register_form" class="visible1">




				<div class="form-group">
					<label class="control-label col-sm-8" >First Name:</label>
					<div class="col-sm-10">
						<input required type="text" class="form-control" name="first_name" id="first_name" placeholder="First Name">
					</div>
				</div>


				<div class="form-group">
					<label class="control-label col-sm-8" >Last Name:</label>
					<div class="col-sm-10">
						<input required type="text" class="form-control" name="last_name" id="last_name" placeholder="Last Name">
					</div>
				</div>


				<div class="form-group">
					<label class="control-label col-sm-8" >Phone no:</label>
					<div class="col-sm-10">
						<input required type="tel" pattern="[0-9]{10}" class="form-control" name="phone_no" id="phone_no" placeholder="Phone No">
					</div>
				</div>


				<div class="form-group">
					<label class="control-label col-sm-8" >Username:</label>
					<div class="col-sm-10">
						<input required type="text" class="form-control" name="username" id="username" placeholder="Username">
					</div>
				</div>

				<div class="form-group">
					<label class="control-label" style="margin-left: 12px;" for="sel1">Select Committee(select one):</label>
					<div class="col-sm-15">
							<select required class="form-control col-sm-10" name="committee" style="margin-left: 12px; margin-bottom: 4px;" id="sel1">
							<option>College</option>
							<option>Institution</option>
							<option>University</option>
							</select>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label" style="margin-left: 12px;" for="sel1">Select College(select one):</label>
					<div class="col-sm-15">
							<select required class="form-control col-sm-10" name="college" style="margin-left: 12px; margin-bottom: 4px;" id="sel2">
							<option>SCOE</option>
							<option>SKNCOE</option>
							<option>NBN</option>
							</select>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-8" >Teacher ID:</label>
					<div class="col-sm-10">
						<input required type="text" class="form-control" name="teacher_id" id="teacher_id" placeholder="Teacher ID">
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2" >Email:</label>
					<div class="col-sm-10">
						<input required type="email" class="form-control" name="email" id="email" placeholder="Enter Email">
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2" for="password">Password:</label>
					<div class="col-sm-10">
						<input required type="password" class="form-control" name="password" id="password" placeholder="Enter password">
					</div>
				</div>



				<div class="text-center">
					<button id="submit1" type="submit" class="btn register">Register</button>
				</div>

				<br>

				<div class="text-center" style="color: #707070; ">
					Already Registered?<b><a href="/users_admin/login" >Login</a></b>
				</div>


			</div>

			<div id="otp_div">

				<div class="form-group">
					<label class="control-label col-sm-8" >OTP FOR PHONE NO:</label>
					<div class="col-sm-10">
						<input required type="text" class="form-control" name="otp_phone_no" id="otp_phone_no" placeholder="OTP FOR PHONE NO">
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-8" >OTP FOR EMAIL :</label>
					<div class="col-sm-10">
						<input required type="text" class="form-control" name="otp_email" id="otp_email" placeholder="OTP FOR EMAIL">
					</div>
				</div>

				<div class="text-center">
					<button id="submit2" type="button" class="btn register">VERIFY</button>
				</div>
			</div>
			</form>

			<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
			<script type="text/javascript" src="{% static 'users_admin/js/register_admin.js' %}"></script>
<!--			<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>-->
			<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		</div>
	</div>
</body>

</html>
